<div class="sidnav d-flex flex-column flex-shrink-0 p-3 bg-light">
    <div class="d-flex justify-content-center align-items-center" style="height: 60px;"><img src="assets/logo.svg"
            alt="" style="height: 100%;"></div>
    <hr style="height: 20px; border-width: 0;">
    <ul class="nav nav-pills flex-column mb-auto gap-3">
        <li>
            <a routerLink="dashboard" routerLinkActive="router-link-active" href="#" class="nav-link link-dark">
                <i class="fa-solid fa-table"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="articles" routerLinkActive="router-link-active"
                class="nav-link link-dark">
                <i class="fa-solid fa-newspaper"></i>
                Articles
            </a>
        </li>
        <li>
            <a routerLink="produit" routerLinkActive="router-link-active" href="#"
                class="nav-link link-dark">
                <i class="fa-brands fa-shopify"></i>
                Produits
            </a>
        </li>
        <li>
            <a routerLink="utilisateurs" routerLinkActive="router-link-active" href="#"
                class="nav-link link-dark">
                <i class="fa-solid fa-users"></i>
                Utilisateurs
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>
<style>
    .sidnav {
        position: fixed;
        z-index: 300;
        height: 100vh;
        width: 260px;
        background-color: white !important;
        border-right: 1px solid #C1C1C1;

        .nav-link {
            color: rgba(0, 0, 0, 0.87) !important;
            font-weight: 400;
            /* font-size: 14px; */
            padding: 12px;
            line-height: 20px;
            display: flex;
            align-items: center;
        }
        .nav-link:hover {
            background-color: #4caf4f1e;
        }
        .nav-link i {
            opacity: 0.8;
            margin-right: 14px;
            font-size: 20px;
        } 
        .router-link-active {
            background-color: #4CAF50;
            color: white !important;
        }
        .router-link-active:hover {
            background-color: #4CAF50;
            color: white !important;
        }

    }

    .main {
        position: relative;
        left: 260px;
        /* background-color: #FAFAFA; */
        width: calc(100% - 260px);
        padding: 20px 60px;
        height: calc(100vh);
        box-sizing: border-box;
    }
</style>