<section class=" boutique">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 style="color: #2a3547; font-size: 18px; ">Produits</h5>
        <div class="d-flex gap-3">
            <input type="text" class="mb-0"
                style="border: 0; border-bottom: 2px solid #3535357f; background-color: #F9F9F9; outline: 0; text-transform: italic; color: #353535;"
                placeholder="Filtrer" name="searchTerm" [(ngModel)]="searchTerm" (input)="filterItems()">
            <button mat-raised-button (click)="openSm(co)"
                style="background-color: #4CAF50; color: white;">+catégorie</button>
        </div>
    </div>
    <div class="jardiniers-box row">
        <div class="col-12">
            <div class="row">
                <div style="height: 40vh; display: flex; align-items: center; justify-content: center;"
                    *ngIf="prod.length == 0">
                    <span class="text-center">Pas de produit pour le moment</span>
                </div>
                <div class="col-3" *ngFor="let item of paginatedProduits">
                    <div class="blog-produits card" style="margin-bottom: 16px; overflow: hidden;" id="card"
                        (click)="openLg(con)" (click)="detailsProduit(item.id)" (click)="listerUsers(item.user_id)">
                        <div class="row g-0" style="">
                            <div class="col-md-4">
                                <img src="http://127.0.0.1:8000/storage/{{item.image}}" class="img-fluid rounded-start"
                                    [alt]="item.image">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title" style="font-size: 16px; color: #292d26bb; font-weight: 600;">
                                        {{item.nom}}</h5>
                                    <span class="notes">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Details boutique -->
                    <ng-template #con let-modal class="">
                        <div class="card">
                            <!-- <button type="button" class="btn-close" aria-label="Close"
                                                    (click)="modal.dismiss('Cross click')"
                                                    style="position: absolute; left:  95%; margin-top: 10px;"></button> -->
                            <span
                                style="position: absolute; left: calc(100% - 30px); top: 10px; font-size: 24px; cursor: pointer;background-color: white; height: 20px; width: 20px; display: flex; align-items: center; justify-content: center;"
                                (click)="modal.dismiss('Cross click')">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                            <div class="row g-0">
                                <div class="left-detail col-md-6"
                                    style="display: flex; justify-content: center; align-items: center; ">
                                    <div style="width: 300px; transform: rotate(-30deg); overflow: hidden !important;">
                                        <img src="http://127.0.0.1:8000/storage/{{detail.image}}" alt=""
                                            style="width: 100%;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h2 class="card-title fw-bold mb-4" style="color: #292D26;">{{detail.nom}}</h2>
                                        <h5 class="fw-bold" style="color: #4CAF50;">Description</h5>
                                        <p class="card-text">{{detail.description}}</p>
                                        <h5 class="fw-bold" style="color: #4CAF50;">Catégorie</h5>
                                        <p>{{detail.categorie.nom}}</p>
                                        <h5 class="fw-bold" style="color: #4CAF50;">Jardinier</h5>
                                        <div class="d-flex gap-2 align-items-center" style="cursor: pointer;">
                                            <div class="img-details">
                                                <img src="http://127.0.0.1:8000/storage/{{us?.image}}" alt="">
                                            </div>
                                            <span>{{detail.user.prenom}} {{detail.user.nom}}</span>
                                        </div>
                                        <p class="mt-3 fw-bold">Totale produit : {{produitPerUser.length}}</p>
                                        <h5 class="fw-bold" style="color: #4CAF50;">Contact</h5>
                                        <div class="media-detail d-flex gap-2">
                                            <a href="https://wa.me/221{{userView.telephone}}" target="_blank"
                                                mat-raised-button><i class="fa-brands fa-whatsapp"></i></a>
                                            <a href="+221{{userView.telephone}}" target="_blank" mat-raised-button><i
                                                    class="fa-solid fa-phone-flip"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div style="margin-top: 40px; display: flex; justify-content: center;" *ngIf="prod.length != 0">
        <app-pagination-admin [totalItems]="prod.length" [itemsPerPage]="itemsPerPage"
            (pageChange)="onPageChange($event)" *ngIf="prod.length > itemsPerPage">
        </app-pagination-admin>
    </div>
    <!-- Ajout categories -->
    <ng-template #co let-modal style="max-height: 90vh;">
        <div class="modal-header py-2 px-4" style="border-bottom: 0;">
            <h4 class="modal-title" style="font-size: 18px;">Catégories</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <app-catgories></app-catgories>
        </div>
    </ng-template>
    <!-- Fin ajout  catégories -->
</section>
<style>
    .addCategorie {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
    }

    .addCategorie li {
        display: flex;
        gap: 10px;
    }

    .left-detail {
        background-image: url("/assets/images/boutique/detail-bg.svg");
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 70vh;
        min-height: 400px;
    }

    .img-details {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }
    .media-detail {
        gap: 10px;

        a {
            background-color: #292D26;

            i {
                color: white;
                font-size: 16px;
            }
        }
    }
</style>