<div class="profil">
    <mat-card class="box-top p-3"
        style="background-image: url('https://img.freepik.com/photos-premium/resume-cadre-fond-gouttes-aquarelle-jaune-vert-papier-blanc_154092-13976.jpg?w=1380'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        <div class="user">
            <div class="img">
                <img src="http://127.0.0.1:8000/api/{{userOnLine?.image}}" alt="" style="width: 100%;">
            </div>
            <span>
                <h4 class="fw-bold">{{userOnLine?.prenom}} {{userOnLine?.nom}}</h4>
                <span *ngIf="userOnLine?.role_id == 1">Administrateur</span>
                <span *ngIf="userOnLine?.role_id == 2">jardinier</span>
                <span *ngIf="userOnLine?.role_id == 3">Client</span>
            </span>
        </div>
        <div class="lien d-flex gap-4">
            <span class="fw-bold" (click)="switch()" [style.color]="colorApercu">Apercu</span>
            <span class="fw-bold" (click)="switch2()" [style.color]="colorParam">Paramètre</span>
        </div>
    </mat-card>
    <div class="row">
        <div class="col-8">
            <mat-card class="box-bottom mt-4 p-3">
                <h4 class="fw-bold" style="color: #4CAF50;" *ngIf="profil">Details profil</h4>
                <h4 class="fw-bold" style="color: #4CAF50;" *ngIf="!profil">Editer profil</h4>
                <table>
                    <tr>
                        <td>Prénom</td>
                        <td *ngIf="profil">{{userOnLine?.prenom}}</td>
                        <td *ngIf="!profil"> <input type="text" class="d-flex" [value]="userOnLine?.prenom"
                                [placeholder]="userOnLine?.prenom" [(ngModel)]="prenom"></td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td *ngIf="profil">{{userOnLine?.nom}}</td>
                        <td *ngIf="!profil"> <input type="text" class="d-flex" [value]="userOnLine?.nom"
                                [placeholder]="userOnLine?.nom" [(ngModel)]="nom"></td>
                    </tr>
                    <tr>
                        <td>Adresse Email</td>
                        <td *ngIf="profil">{{userOnLine?.email}}</td>
                        <td *ngIf="!profil"> <input type="text" [value]="userOnLine?.email"
                                [placeholder]="userOnLine?.email" [(ngModel)]="email">
                        </td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td *ngIf="profil">{{userOnLine?.adresse}}</td>
                        <td *ngIf="!profil"> <input type="text" [value]="userOnLine?.adresse"
                                [placeholder]="userOnLine?.adresse" [(ngModel)]="adresse"> </td>
                    </tr>
                    <tr>
                        <td>Téléphone</td>
                        <td *ngIf="profil">{{userOnLine?.telephone}}</td>
                        <td *ngIf="!profil"> <input type="text" [value]="userOnLine?.telephone"
                                [placeholder]="userOnLine?.telephone" [(ngModel)]="telephone"> </td>
                    </tr>
                    <tr *ngIf="!profil">
                        <td>Ancien mot de passe</td>
                        <!-- <td *ngIf="profil">{{userOnLine?.telephone}}</td> -->
                        <td> <input type="text" placeholder="************" [(ngModel)]="password"> </td>
                    </tr>
                    <tr *ngIf="!profil">
                        <td>Nouveau mot de passe</td>
                        <!-- <td *ngIf="profil">{{userOnLine?.telephone}}</td> -->
                        <td> <input type="text" placeholder="************" [(ngModel)]="confirmerPassword"> </td>
                    </tr>
                    <tr *ngIf="!profil">
                        <td> <button style="visibility: hidden;">hidden</button> </td>
                        <td class=""> <button mat-raised-button
                                style="background-color: #4CAF50; color: white;">Enregistrer</button> </td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </div>
</div>
<app-footer></app-footer>
<style>
    .profil {
        padding: 40px 10%;
    }

    .box-top {

        display: flex;
        flex-direction: column;

        .user {
            display: flex;
            gap: 20px;
        }

        .img {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            place-content: center;

            img {
                width: 100%;
            }
        }
    }

    .lien {
        span {
            margin-top: 10px;
            cursor: pointer;
        }
    }

    td {
        height: 45px;
    }

    td:nth-child(1) {
        font-weight: bold;
    }

    td:nth-child(2) {
        font-weight: 500;
    }

    td input {
        width: 70%;
        border: 0px solid transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.256);
        outline: 0;
    }
</style>