<form class="example-form">
    <div class="texte pb-4">
        <h2 class="titre">Connexion</h2>
        <p>Veuillez saisir vos informations</p>
    </div>
    <div class="champs">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <!-- <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Passe</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
            <!-- <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Veuillez entrer votre mot de passe
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <div class="bouton d-flex justify-content-end">
            <button mat-raised-button style="background-color: #429A3A; color: white; width: max-content;">Se connecter</button>
        </div>
        <hr>
        <h6 class="d-flex justify-content-between">
            <span>Vous n'avez pas de compte ?</span>
            <span class="cta-connexion" routerLink="../../auth/register">S'inscrire</span>
        </h6>
    </div>
</form>
<style>
    .cta-connexion {
        color: #429A3A;
        cursor: pointer;
    }
</style>