<main>
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-sm-6 login-section-wrapper" *ngIf="!reset">
                <div class="brand-wrapper" style="cursor: pointer;">
                    <img src="assets/logo.svg" alt="logo" class="logo" style="height: 80px;" [routerLink]="['/accueil']"
                        routerLinkActive="router-link-active">
                </div>
                <div class="login-wrapper my-auto">
                    <h1 class="login-title">Connexion</h1>
                    <form action="#!">
                        <div class="form-group">
                            <label for="email">Adresse Email</label>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="email@example.com" [(ngModel)]="email" (input)="emailValidatiion()"
                                [style.border-bottom-color]="colorEmail">
                            <span *ngIf="messageEmail" style="color: rgb(249, 67, 67); font-size: 12px;">
                                {{messageEmail}} </span>
                            <span *ngIf="!messageEmail" style="visibility: hidden;">
                                hidden </span>
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Mot de passe</label>
                            <div style="">
                                <input type="{{ showPassword ? 'text' : 'password' }}" name="password" id="password"
                                    class="form-control" placeholder="votre mot de passe" [(ngModel)]="password"
                                    (input)="passwordValidatiion()" [style.border-bottom-color]="colorPass">
                                <button class="btn btn-secondary btnpass" type="button"
                                    (click)="togglePasswordVisibility()">
                                    <i class="fa"
                                        [ngClass]="{ 'fa-eye': showPassword, 'fa-eye-slash': !showPassword }"></i>
                                </button>
                            </div>
                            <span *ngIf="messagePassword"
                                style="position: relative; top: -36px; color: rgb(249, 67, 67); font-size: 12px;">
                                {{messagePassword}} </span>
                            <span *ngIf="!messagePassword" style="visibility: hidden;">
                                hidden </span>
                        </div>
                        <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Connexion"
                            (click)="connexion()" (click)="alerter()">
                    </form>
                    <a class="forgot-password-link" style="cursor: pointer;" (click)="reseter()">Mot de passe
                        oublié?</a>
                    <p class="login-wrapper-footer-text">Vous n'avez pas de compte? <a routerLink="../register"
                            class="text-reset">S'inscrire</a></p>
                </div>
            </div>
            <div class="col-sm-6 login-section-wrapper" *ngIf="reset">
                <div class="brand-wrapper" style="cursor: pointer;">
                    <img src="assets/logo.svg" alt="logo" class="logo" style="height: 80px;" [routerLink]="['/accueil']"
                        routerLinkActive="router-link-active">
                </div>
                <div class="login-wrapper my-auto">
                    <h1 class="login-title">Récupération mot de passe</h1>
                    <form action="#!">
                        <div class="form-group">
                            <label for="email">Adresse Email</label>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="email@example.com" [(ngModel)]="email">
                        </div>
                        <!-- <i class="fa-regular fa-eye"></i> -->
                        <div class="form-group">
                            <input name="login" id="login" class="btn btn-block login-btn mt-4" type="button"
                                value="Envoyer" (click)="resetPass(email)">

                        </div>
                    </form>
                    <a class="forgot-password-link" style="cursor: pointer;" (click)="reseter()">Retour à la
                        connexion</a>
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block"
                style="overflow: hidden; background-image: url(/assets/images/login.png); background-repeat: no-repeat;  background-size: cover;">
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>