.champs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.example-form {
    min-width: 500px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}