    .btnpass {
        // border: 0px solid transparent;
        position: relative;
        top: -40px;
        left: calc(100% - 46px);
        color: #B0B5C7;
        background-color: transparent;
        border: 0px;
    }

    .btnpass:hover {
        background-color: transparent;
    }