<!-- Ajout produit -->
<!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajout de produit!</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="example-form d-flex flex-column" style="width: 100%;">
            <div class="mb-4">
                <label for="file" class="file-upload-label" style="width: 100%;">
                    <div class="file-upload-design">
                        <svg viewBox="0 0 640 512" height="1em">
                            <path
                                d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z">
                            </path>
                        </svg>
                        <p>Glissez et déposez votre image</p>
                        <p>ou</p>
                        <span class="browse-button">Téléverser une image</span>
                    </div>
                    <input id="file" type="file" (change)="getFile($event)" accept="image/*" [(ngModel)]="image"
                        name="image" />
                </label>
            </div>
            <mat-form-field class="example-full-width">
                <mat-label>Nom</mat-label>
                <input type="text" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="300" [(ngModel)]="nom">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Le nom est <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Ma description ..." [(ngModel)]="description"
                    name="description"></textarea>
            </mat-form-field>
        </form>
    </div>
</ng-template> -->
<!--  -->
<app-share-banner></app-share-banner>
<div class="jardiniers-box row">
    <div class="col-4">
        <mat-card class="example-card" style="margin-bottom: 22px; cursor: pointer;">
            <img mat-card-image src="http://127.0.0.1:8000/storage/{{jardinier.image}}" alt="Image jardinier">
            <mat-card-content>
                <h6 class="nom-user mt-3 fw-bold"> {{jardinier.prenom}} {{jardinier.nom}}</h6>
                <table>
                    <tr>
                        <td class="fw-bold"> Adresse </td>
                        <td>&nbsp;:&nbsp;</td>
                        <td> {{jardinier.adresse}} </td>
                    </tr>
                    <tr>
                        <td class="fw-bold"> Produits </td>
                        <td>&nbsp;:&nbsp;</td>
                        <td> {{prod.length}} </td>
                    </tr>
                </table>
                <div class="jard mb-3">
                    <a mat-raised-button href="https://wa.me/221{{jardinier.telephone}}" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i></a>
                    <a mat-raised-button href="+221{{jardinier.telephone}}" target="_blank"><i
                            class="fa-solid fa-phone-flip"></i></a>
                    <a mat-raised-button (click)="openVerticallyCentered(message)"><i
                            class="fa-solid fa-comment"></i></a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="titre-input mb-3"
                style="display: flex; align-items: flex-start; justify-content: space-between;">
                <div class="d-flex gap-3">
                    <button mat-raised-button style="background-color: #292D26; color: white;">Produits</button>
                    <button mat-raised-button style="background-color: #292D26; color: white;">Vidèo(s)</button>
                </div>
                <input type="text" class="mt-2 justify-content-between"
                    style="border: 0; border-bottom: 2px solid #292d2651; outline: 0; text-transform: italic;"
                    placeholder="Filtrer" name="searchTerm" [(ngModel)]="searchTerm" (input)="filterItems()">
            </div>
            <!-- <span class="text-center" *ngIf="prod.length == 0">Pas de produit pour le moment</span> -->
            <div style="height: 40vh; display: flex; align-items: center; justify-content: center;"
                *ngIf="prod.length == 0">
                <img src="assets/images/null.png" class="img-fluid" alt="">
            </div>
            <div class="col-6" *ngFor="let item of paginatedProduits">
                <div class="blog-produits card" style="margin-bottom: 16px; overflow: hidden;" id="card"
                    (click)="openLg(con)" (click)="detailsProduit(item.id, item.user_id)">
                    <div class="row g-0" style="">
                        <div class="col-md-4">
                            <img src="http://127.0.0.1:8000/storage/{{item.image}}" class="img-fluid rounded-start"
                                [alt]="item.image">
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title" style="font-size: 16px; color: #292d26bb; font-weight: 600;">
                                    {{item.nom}}</h5>
                                <span class="notes">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Details boutique -->
                <ng-template #con let-modal class="">
                    <div class="card">
                        <span
                            style="position: absolute; left: calc(100% - 30px); top: 10px; font-size: 24px; cursor: pointer;background-color: white; height: 20px; width: 20px; display: flex; align-items: center; justify-content: center;"
                            (click)="modal.dismiss('Cross click')">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        <div class="row g-0">
                            <div class="left-detail col-md-6"
                                style="display: flex; justify-content: center; align-items: center; ">
                                <div style="width: 300px; transform: rotate(-30deg); overflow: hidden !important;">
                                    <img src="http://127.0.0.1:8000/storage/{{detail.image}}" alt=""
                                        style="width: 100%;">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h2 class="card-title fw-bold mb-4" style="color: #292D26;">{{detail.nom}}</h2>
                                    <h5 class="fw-bold" style="color: #4CAF50;">Description</h5>
                                    <p class="card-text">{{detail.description}}</p>
                                    <h5 class="fw-bold" style="color: #4CAF50;">Catégorie</h5>
                                    <p>{{detail.categorie.nom}}</p>
                                    <h5 class="fw-bold" style="color: #4CAF50;">Jardinier</h5>
                                    <div class="d-flex align-items gap-2">
                                        <span
                                            style="height: 30px; width: 30px; overflow: hidden; display: flex; justify-content: center; align-items: center; border-radius: 50%;">
                                            <img src="http://127.0.0.1:8000/storage/{{userView.image}}" alt=""
                                                style="width: 100%;">
                                        </span>
                                        <span class="mt-1">{{userView.prenom}} {{userView.nom}}</span>
                                    </div>
                                    <p class="mt-3 fw-bold">Totale produit : {{produitPerUser.length}}</p>
                                    <!-- <h5 class="fw-bold" style="color: #4CAF50;">Contact</h5>
                                    <div class="media-detail d-flex gap-2">
                                        <a href="https://wa.me/221{{userView.telephone}}" target="_blank"
                                            mat-raised-button><i class="fa-brands fa-whatsapp"></i></a>
                                        <a href="+221{{userView.telephone}}" target="_blank" mat-raised-button><i
                                                class="fa-solid fa-phone-flip"></i></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <!-- Pagination -->
            <div style="margin-top: 40px; display: flex; justify-content: center;" *ngIf="prod.length != 0">
                <app-pagination [totalItems]="prod.length" [itemsPerPage]="itemsPerPage"
                    (pageChange)="onPageChange($event)" *ngIf="prod.length > itemsPerPage">
                </app-pagination>
            </div>
        </div>
    </div>
</div>
<!-- Message -->
<ng-template #message let-modal style="height: 90vh;">
    <div class="modal-header border border-bottom-0">
        <div class="d-flex gap-2 align-items-center">
            <span class="user-sms"
                style="height: 40px; width: 40px; display: flex; justify-content: center; overflow: hidden; border-radius: 50%; align-items: center;">
                <img src="http://127.0.0.1:8000/storage/{{jar?.image}}" alt="" style="width: 100%;">
            </span>
            <span style="font-weight: 500;"> {{jar.prenom}} {{jar.nom}} </span>
        </div>
    </div>
    <app-chat></app-chat>
</ng-template>
<!-- Fin message -->
<app-footer></app-footer>
<style>
    .addCategorie {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
    }

    .addCategorie li {
        display: flex;
        gap: 10px;
    }

    .left-detail {
        background-image: url("/assets/images/boutique/detail-bg.svg");
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 70vh;
    }

    .media-detail {
        gap: 10px;

        a {
            background-color: #292D26;

            i {
                color: white;
                font-size: 16px;
            }
        }
    }

    /* Media sociaux */
    .jard {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 16px;
        /* justify-content: center; */
        gap: 10px;
    }


    .jard a {
        color: white;
        background-color: #292D26;
    }
</style>