<div class="banner-user">
    <div class="img">
        <img src="assets/images/jardinier/jardinier-1.png" alt="">
    </div>
    <div class="desc">
      <h3 class="name">Aminata Sylla</h3>  
      <div class="row">
        <div class="col-6"><i class="fa-solid fa-location-dot"></i><span class="lien">Localisation</span></div>
        <div class="col-6"><i class="fa-brands fa-product-hunt"></i><span class="lien">Produits</span></div>
        <div class="col-6"><i class="fa-solid fa-phone"></i><span class="lien">Appeler</span></div>
        <div class="col-6"><i class="fa-brands fa-square-whatsapp"></i><span class="lien">Whatsapp</span></div>
      </div>
    </div>
</div>

<style>
    .banner-user {
        padding: 10px 10%;
        align-items: center;
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }
    .desc .col-6 {
        display: flex;
        gap: 10px;
        padding: 10px;
        font-size: 18px;
        font-weight: 600;
    } 
    .desc .col-6 i {
        position: relative;
        top: 4px;
        color: #429A3A;
    } 
    .desc .col-6 span, .desc .col-6 i {
        cursor: pointer;
    }
</style>