<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 login-section-wrapper" style="height: 100vh; cursor: pointer;" >
                <div class="brand-wrapper">
                    <img src="assets/logo.svg" alt="logo" class="logo" style="height: 80px;" [routerLink]="['/accueil']" routerLinkActive="router-link-active" >
                </div>
                <div class="login-wrapper my-auto">
                    <h1 class="login-title">Inscription</h1>
                    <form action="#!">
                        <div class="form-group">
                            <label for="email">Prénom</label>
                            <input type="text" name="prenom" id="prenom" class="form-control"
                                placeholder="Entez votre prénom" [(ngModel)]="prenom">
                        </div>
                        <div class="form-group">
                            <label for="email">Nom</label>
                            <input type="text" name="nom" id="nom" class="form-control" placeholder="Entez votre nom" [(ngModel)]="nom">
                        </div>
                        <div class="form-group">
                            <label for="email">Adresse</label>
                            <input type="email" name="adresse" id="adresse" class="form-control"
                            placeholder="Entez votre adresse" [(ngModel)]="adresse">
                        </div>
                        <div class="form-group">
                            <label for="email">Adresse Email</label>
                            <input type="email" name="email" id="email" class="form-control"
                            placeholder="email@example.com" [(ngModel)]="email">
                        </div>
                        <div class="form-group">
                            <label for="email">Téléphone</label>
                            <input type="text" name="telephone" id="email" class="form-control" placeholder="Entez votre numéro de téléphone" [(ngModel)]="telephone">
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="Entez votre mot de passe" [(ngModel)]="password">
                        </div>
                        <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Inscription" (click)="validation()">
                    </form>
                    <p class="login-wrapper-footer-text">Vous avez un compte? <a [routerLink]="['../login']" routerLinkActive="router-link-active" 
                            class="text-reset">Se connecter</a></p>
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block" style="overflow: hidden;;">
                <img src="https://img.freepik.com/photos-gratuite/mains-coupant-branche-plante-pot_23-2149391922.jpg?size=626&ext=jpg&ga=GA1.1.735943258.1704851612&semt=sph"
                    alt="login image" class="login-img">
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>