<form class="example-form">
    <div class="texte pb-4">
        <h2 class="titre">Inscription</h2>
        <p>Veuillez saisir vos informations</p>
    </div>  
    <div class="champs">
        <mat-form-field class="example-full-width">
            <mat-label>Prénom</mat-label>
            <input type="texte" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="prenomFormControl.hasError('email') && !prenomFormControl.hasError('required')">
                Veuillez entrer un un nom valide
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Un prenom est <strong>requis</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Veuillez entrer un mail valide
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Un email est <strong>requis</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Veuillez entrer un mail valide
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Un email est <strong>requis</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Veuillez entrer votre mot de passe
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Un mot de passe de 6 caractères est <strong>requis</strong>
            </mat-error>
        </mat-form-field>
        <div class="bouton d-flex justify-content-end">
            <button mat-raised-button style="background-color: #429A3A; color: white; width: max-content;">S'inscrire</button>
        </div>
        <hr>
        <h6 class="d-flex justify-content-between">
            <span>Vous avez un compte ?</span>
            <span class="cta-connexion" routerLink="../../auth/login">Se connecter</span>
        </h6>
    </div>
</form>
<style>
    .cta-connexion {
        color: #429A3A;
        cursor: pointer;
    }
</style>