<div class="banner">
    <div class="banner-content">
        <span class="sus-titre">Jardinons Ensemble!</span>
        <h4 class="titre"><span class="two-first">Ve</span>rdure Sénégal Jardinez, Partagez, Grandissez!</h4>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Varius sed pharetra dictum neque massa congue</p>
        <div class="button-section">
            <!-- <app-button-one title="Click me" size="small"></app-button-one> -->
        </div>
    </div>
</div>

<style>
    .banner {
        background-image: url('assets/images/banner-1.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 80px);
        padding: 0 10%;
    }

    .sus-titre {
        font-family: 'Great Vibes', sans-serif;
        font-size: 32px;
        color: #4CAF50;
    }

    .titre {
        font-size: 48px;
        color: white;
        font-weight: bold;
    }

    .banner-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .two-first {
        color: #4CAF50;
    }
</style>