<div class="banner">
    <div class="banner-content">
        <span class="sus-titre">Jardinons Ensemble!</span>
        <h4 class="titre"><span class="two-first">Fl</span>orsen <br> Jardinez, Partagez, Grandissez!</h4>
        <!-- <app-titre class="text-center me-2" sus_titre="Jardinons Ensemble!" titre="Florsen Jardinez, Partagez, Grandissez!"></app-titre> -->
        <div class="button-section">
            <!-- <app-button-one title="Click me" size="small"></app-button-one> -->
        </div>
    </div>
</div>

<style>
    .banner {
        background-image: url('assets/images/banner-8.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 80px);
        padding: 0 10%;
    }

    .sus-titre {
        font-family: 'Great Vibes', sans-serif;
        font-size: 32px;
        color: #4CAF50;
    }

    .titre {
        font-size: 48px;
        color: white;
        font-weight: bold;
    }

    @media screen and (max-width: 575.98px) {
        .banner {
            background-image: none;
            background-color: #292D26;
        }

        .titre {
            line-height: 1.6;
        }
    }

    .banner-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .two-first {
        color: #4CAF50;
    }

    @media screen and (max-width: 991.98px) {
        .banner-content {
            width: 90%;
            text-align: center;
        }
    }
</style>