<div class="d-flex justify-content-between align-items-center mb-4">
    <h6 class="fw-bold">Utilisateurs</h6>
    <div class="d-flex gap-3">
        <mat-form-field class="mb-0">
            <mat-label>Trier</mat-label>
            <mat-select disableRipple>
                <mat-option value="1" (click)="userActif()">Actif</mat-option>
                <mat-option value="2" (click)="userInactif()">Inactif</mat-option>
                <mat-option value="2" (click)="userJardinier()">Jardiniers</mat-option>
                <mat-option value="3" (click)="userClient()">Clients</mat-option>
                <mat-option value="3" (click)="allUser()">Tout</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <input (keyup)="applyFilter($event)" type="text" class="mb-0"
                style="border: 0; border-bottom: 1px solid #3535357f; background-color: #F9F9F9; outline: 0; text-transform: italic; color: #353535; margin-top: 30px;"
                placeholder="Filtrer" #input>
        </div>
    </div>
</div>
<mat-card class="">
    <table mat-table [dataSource]="dataSource" class="">

        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="utilisateur">
            <th mat-header-cell *matHeaderCellDef> Utilisateur </th>
            <td mat-cell *matCellDef="let element"> {{element.prenom}} {{element.nom}} <br>
                <span style="font-size: 13px; opacity: 0.7;" *ngIf="element.role_id == 2">Jardinier</span>
                <span style="font-size: 13px; opacity: 0.7;" *ngIf="element.role_id == 3">Client</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="adresse">
            <th mat-header-cell *matHeaderCellDef> Adresse </th>
            <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="création">
            <th mat-header-cell *matHeaderCellDef> Création </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <div class="d-flex gap-3">
                    <button mat-mini-fab color="" (click)="openLg(content, element.id)"
                        style="background-color: #f1c01e; width: 30px; height: 30px; font-size: 14px;"><i
                            class="fa-solid fa-circle-info"></i></button>
                    <button mat-mini-fab color="warn" style="width: 30px; height: 30px; font-size: 14px;"
                        (click)="blouerUser(element.id)" *ngIf="element.is_bloquer == 0"><i
                            class="fa-solid fa-box-archive"></i></button>
                    <button mat-mini-fab (click)="debloquerUsers(element.id)" *ngIf="element.is_bloquer == 1"
                        style="background-color: #4CAF50; width: 30px; height: 30px; font-size: 12px;"><i
                            class="fa-solid fa-rotate-right"></i></button>
                    <ng-template #content let-modal class="modal">
                        <!-- <div class="modal-header" style="border-bottom: 0;">
                        </div> -->
                        <!-- <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button> -->
                        <span
                            style="position: absolute; z-index: 999; left: calc(100% - 30px); top: 10px; font-size: 24px; cursor: pointer;background-color: white; height: 20px; width: 20px; display: flex; align-items: center; justify-content: center;"
                            (click)="modal.dismiss('Cross click')">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        <div class="modal-body d-flex gap-4">
                            <div class="left">
                                <div class="img">
                                    <img src="http://127.0.0.1:8000/storage/{{element.image}}" alt="">
                                </div>
                                <h6 class="my-4 d-flex align-items-center gap-2">
                                    <span style="font-size: 14px; font-weight: 700;">Role : </span>
                                    <span *ngIf="element.role_id == 2" style="font-size: 14px;">Jardinier</span>
                                    <span *ngIf="element.role_id == 3" style="font-size: 14px;">Client</span>
                                </h6>
                                <h6 class="my-4 d-flex align-items-center gap-2" *ngIf="prod">
                                    <span style="font-size: 14px; font-weight: 700;">Produit(s) : </span><span
                                        style="font-size: 14px;">{{long}}</span>
                                </h6>
                                <!-- <app-button-one title="Voir produits"></app-button-one> -->
                                <div>
                                    <!-- <button mat-raised-button color=""
                                        style="background-color: #4CAF50; color: white; height: 100%; padding: 4px;">Active</button> -->
                                    <!-- <button mat-raised-button color="primary" class="my-3"
                                        style="display: block; width: max-content;"
                                        style="background-color: #292D26; color: white; height: 100%; padding: 4px 10px;">Espace
                                        verte</button> -->
                                </div>
                            </div>
                            <div class="right w-100">
                                <div class="top d-flex justify-content-between align-items-center pb-4"
                                    style="border-bottom: 3px solid #4CAF50;">
                                    <h4>Détals du profil</h4>
                                </div>
                                <table class="user my-3">
                                    <tr>
                                        <td>Prénom et nom</td>
                                        <td>{{element.prenom}} {{element.nom}}</td>
                                    </tr>
                                    <tr>
                                        <td>Adresse email</td>
                                        <td>{{element.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Adresse</td>
                                        <td>{{element.adresse}}</td>
                                    </tr>
                                    <tr>
                                        <td>Téléphone</td>
                                        <td>{{element.telephone}}</td>
                                    </tr>
                                    <tr>
                                        <td>Création</td>
                                        <td>{{element.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator [length]="200" [pageSizeOptions]="[8, 50, 100]" aria-label="Select page">
    </mat-paginator>
</mat-card>
<div class="details">

</div>
<!-- <div class="ajout">
    <ng-template #add let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Ajout Administrateur</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="firstName" class="form-label">Prénom</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Prénom"
                            required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Nom</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user-plus"></i>
                        </span>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nom"
                            required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn" style="background-color: #4CAF50; color: white;">Valider</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
        </div>
    </ng-template>
</div> -->
<style>
    .left {
        width: min-content;
    }

    .left .img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .left .img img {
        width: 100%;
    }

    .user tr td {
        padding: 6px 0;
    }

    .user tr td:first-child {
        font-weight: 700;
    }

    .input-group-text {
        width: 40px;
    }
</style>