/* Structure */
table {
  width: 100%;
}
 
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

// 
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

// Modal
// .modal {
//     padding: 20px;
// }
.img {
    height: 130px;
    width: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}