<div class="auth">
    <div class="left">
        <div class="img">
            
        </div>
    </div>
    <div class="infos"> 
        <router-outlet></router-outlet>
    </div>
</div>

<style>
    .auth {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left {
            padding: 10px;
            .img {
                background-image: url('/assets/images/login-1.svg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: calc(100vh - 20px);
                width: 100%;
                border-radius: 20px;
            }
        }
    }
    .infos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>