<div class="d-flex gap-2">
    <input type="text" class="w-75 rounded-1 px-1"
        style="border: 0; border-bottom: 2px solid #292d2651; outline: 0; text-transform: italic;" placeholder="Filtrer"
        name="searchTerm" (keyup)="applyFilter($event)" #input>
    <button class="w-25" mat-raised-button color="primary" style="color: white; background-color: #49A84D;"
        (click)="openSm(content)">+</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

    <!-- Colonne du numéro de catégorie -->
    <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
    </ng-container>

    <!-- Colonne du libellé -->
    <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef> Libellé </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}}</td>
    </ng-container>

    <!-- Colonne du libellé -->
    <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
        <td mat-cell *matCellDef="let element">
            <div class="d-flex justify-content-center gap-4">
                <i class=" fa-solid fa-pen-to-square" style="cursor: pointer;" (click)="openSm(content)"
                    (click)="chargerInfos(element.id)"></i>
                <i class=" fa-solid fa-box-archive" style="cursor: pointer; margin-top: 1px;"
                    (click)="supprimer(element.id)"></i>
            </div>
        </td>
    </ng-container>

    <!-- Définition des lignes et colonnes -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Ligne affichée en cas de données non trouvées -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">Aucune donnée ne correspond au filtre "{{input.value}}"</td>
    </tr>
</table>

<ng-template #content let-modal>
    <div class="modal-header" style="border: 0px;">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"
            (click)="vider()"></button>
    </div>
    <div class="modal-body">
        <form action="">
            <input type="text" name="nom" [(ngModel)]="nom" class="w-100 rounded-1 mb-2"
                placeholder="nouvelle catégorie"
                style="border: 0; border-bottom: 2px solid #3535357f; background-color: transparent; outline: 0; text-transform: italic; color: #353535; border-radius: 0;">
            <button mat-raised-button class="w-100" (click)="modal.close('Close click')" (click)="ajoutCategorie()"
                style="background-color: #4CAF50; color: white;" (click)="vider()">Enregistrer</button>
            <!-- <button mat-raised-button class="w-100" (click)="modal.close('Close click')"
                style="background-color: #4CAF50; color: white;" *ngIf="nom"
                (click)="modCategorie()">Modifier</button> -->
        </form>
    </div>
</ng-template>