<app-share-banner></app-share-banner>
<!-- <a href="#article"
    style="display: flex; justify-content: center; align-items: center; border-radius: 50%; width: 50px; height: 50px; border: 2px solid #4CAF50; color: #292D26; background-color: #ffffff; position: absolute; left: calc(50% - 25px); margin-top: -25px; cursor: pointer;">
    <i class="fa-solid fa-caret-down"></i>
</a> -->
<section class="conseils row">
    <div class="d-flex justify-content-between align-items-end mb-2">
        <app-titre sus_titre="Le savoir faire des expérimentés" titre="Conseils Jardiniers" class="" color_one="#4CAF50"
            color_two="#292D26" id="article"></app-titre>
        <input type="text" class="mb-3"
            style="border: 0; border-bottom: 2px solid #292d2651; outline: 0; text-transform: italic;"
            placeholder="Filtrer" name="searchTerm" [(ngModel)]="searchTerm" (input)="filterItems()">
    </div>
    <div class="col-4" *ngFor="let item of articleList">
        <div class="card" style="margin: 12px 0;">
            <div class="d-flex justify-content-end">
                <div class="date">{{ item.created_at | date:'dd MMMM yyyy' }}</div>
            </div>
            <img src="http://127.0.0.1:8000/api/{{item?.image}}" class="card-img-top" alt="" routerLink="../astuce">
            <div class="card-body">
                <!-- <span class="" style="opacity: 0.8;"><i class="fa-solid fa-user my-2"></i> {{item.user_name}}</span> -->
                <h6 class="card-text fw-bold" [title]="item.titre">{{item.titre}}</h6>
                <div class="d-flex justify-content-between">
                    <a class="btn p-0" style="color: #292D26; opacity: 0.8; font-size: 0.9em;" routerLink="../astuce"
                        (click)="details(item.id)">Lire plus<i class="fa-solid fa-arrow-right"></i></a>
                    <span class="d-flex gap-3" style="font-size: 0.9em; opacity: 0.8;">
                        <span>
                            <i class="fa-solid fa-thumbs-up"></i> {{item.like}}
                        </span>
                        <span>
                            <i class="fa-solid fa-comment"></i> {{item.like}}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #content let-modal style="position: relative; z-index: 100;">
    <!-- <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
    </div> -->
    <div class="modal-body">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"
                style="position: fixed;"></button>
        </div>
        <app-astuces></app-astuces>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div> -->
</ng-template>
<app-footer></app-footer>

<style>
    .conseils {
        padding: 20px 10%;
        /* background-color: #292D26; */
    }

    .card-body h6 {
        display: inline-block;
        width: 96%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .date {
        position: absolute;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        margin: 8px;
        font-size: 12px;
    }

    .img {
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .img img {
        height: 100%;
    }
</style>