<app-share-banner></app-share-banner>
<app-titre sus_titre="Posez vos questions " titre="Contactez nous" color_one="" class="text-center m-2"></app-titre>
<div class="contact">
    <div class="contact-content">
        <div class="infos text-white">
            <h2 style="opacity: 0.5 ;">Coordonnées</h2>
            <ul class="list-infos">
                <li><a><i class="fa-solid fa-phone"></i><span>78 106 82 98</span></a></li>
                <li><a><i class="fa-solid fa-envelope"></i><span>verduresenegal@gmail.com</span></a></li>
                <li><a><i class="fa-solid fa-location-dot"></i><span>Medina/gueule tapé, rue 15</span></a></li>
            </ul>
        </div>
        <form action="" class="form w-100 row">
            <div class="mb-3 col-6">
                <label for="exampleInputEmail1" class="form-label">Prénom</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre prénom" name="prenom">
            </div>
            <div class="mb-3 col-6">
                <label for="exampleInputEmail1" class="form-label">Nom</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre nom" name="Entrez votre nom">
            </div>
            <div class="mb-3 col-6">
                <label for="exampleInputPassword1" class="form-label">Email</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="email" placeholder="exemple@gmail.com">
            </div>
            <div class="mb-3 col-6">
                <label for="exampleInputPassword1" class="form-label">Téléphone</label>  
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre téléphone" name="tel">
            </div>
            <div class="mb-3 col-12">
                <label for="exampleInputPassword1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleInputPassword1" placeholder="Envoyez-nous un message" name="message" id="" cols="" rows="6"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100" style="background-color: #292D26; border: 0;">Envoyer</button>
            </div>
        </form>
    </div>
</div>