<div class="sidnav">
    <app-sidebar></app-sidebar>
</div>
<div class="main">
    <app-navbar></app-navbar>
    <div class="div" style="position: relative; top: 60px;">
        <router-outlet></router-outlet>
    </div>
</div>
<style>
    .sidnav {
        position: fixed;
        z-index: 300;
        height: 100vh;
        width: 200px;
        background-color: white !important;
        border-right: 1px solid #C1C1C1;
        
        .active {
            background-color: #4CAF50;
        }
    }

    .main {
        position: relative;
        left: 200px;
        background-color: #F9F9F9;
        width: calc(100% - 200px);
        padding: 20px 20px;
        height: 100vh;
    }
</style>