.navbar {
    background-color: #292D26;
    height: 80px;
}

.header {
    background-color: white;
    padding: 0 10%;
    height: 60px;
}

@media screen and (max-width: 575.98px) {
    .header {
        padding: 0 3%;
    }

    .offcanvas-body {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .offcanvas-body {
        width: 100%;
    }
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 54px;
}

.navbar-brand img {
    height: 100%;
}

.nav-link {
    font-weight: 600;
    opacity: 0.8;
    min-width: max-content;
}

.nav-link:hover {
    color: #4CAF50 !important;
}

.nav-link:hover {
    color: #4CAF50 !important;
}

.header-cta {
    display: flex;
    gap: 16px;
}

.responsive .header-cta {}

.burger {
    height: 26px;
    // border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
    cursor: pointer;
}

.burger img {
    height: 100%;
}

.acive {
    color: #4CAF50;
}

/* dropdown */
.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgba(255, 255, 255);
    padding: 6px 0;
    position: relative;
    top: 20px;
}

.example-menu-item,
.example-standalone-trigger {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.example-menu-item:hover {
    color: #4CAF50;
}

.example-menu-item:active {
    background-color: rgb(170, 170, 170);
}

.example-standalone-item {
    background-color: rgb(239, 239, 239);
}

.example-standalone-item:hover {
    background-color: rgb(208, 208, 208);
}

.example-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
}

.responsive {
    display: none;
    position: absolute;
    width: 30%;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 70%;
    padding: 20px 0;

    .close {
        position: absolute;
        left: calc(100% - 60px);
        top: 20px;
        cursor: pointer;

        i {
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 991.98px) {

    .middle-1,
    .header-cta-1 {
        display: none;
    }

    .middle-2 {
        display: block;
    }

    .burger {
        display: block;
    }
}

// Dropdown

.float-right {
    float: right;
}

.fa {
    font-size: .8em;
    line-height: 22px !important;
}

.dropdown {
    // display: inline-block;
    // margin: 20px 50px;
}

.dropdown label,
.dropdown ul li {
    display: block;
    width: 200px;
    background: #ECF0F1;
    padding: 15px 20px;
}

.dropdown label:hover,
.dropdown ul li:hover {
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.dropdown label {
    color: #4CAF50;
    border-left: 4px solid #4CAF50;
    border-radius: 0 5px 0 0;
    position: relative;
    z-index: 2;
}

.dropdown input {
    display: none;
}

.dropdown input~ul {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -20px;
    z-index: 1;
}

.dropdown input:checked+label {
    background: #4CAF50;
    color: white;
}

.dropdown input:checked~ul {
    visibility: visible;
    opacity: 1;
    top: 0;
}

$colors: #E74C3C, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
    dropdown ul li:nth-child(#{$i}) {
        border-left: 4px solid nth($colors, $i);

        .fa {
            color: nth($colors, $i);
        }

        &:hover {
            background: nth($colors, $i);
            color: white;

            .fa {
                color: white;
            }
        }
    }
}

.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Chrome and Safari */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
}