<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid header">
        <a class="navbar-brand text-black" routerLink=""><img src="assets/logo.svg" alt=""></a>
        <div class="middle middle-1">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item text-black" *ngFor="let item of sidebar_data">
                        <a class="nav-link" [routerLink]="item.lien" routerLinkActive="active"
                            [style.color]="item.isActive" (click)="changeColor(item.id)">
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-cta-1 header-cta" id="header-cta" style="position: relative; top: 80px; z-index: 999;"
            (mouseleave)="closeDropdown()">
            <div class="my-dropdown" id="my-dropdown" *ngIf="existing == false" style="margin-top: -24px;">
                <button class="my-dropdown-button" id="my-dropdown-button" (click)="displayDropdown()">
                    <span>Authentification</span>
                    <i class="fa fa-thin fa-caret-down float-right" style="font-size: 20px;"></i>
                </button>
                <ul class="dropdown-list" id="dropdown-list" [style.visibility]="display" (click)="displayDropdown()">
                    <li routerLink="/auth"><span>Se connecter</span><i class="fa fa-solid fa-user float-right"></i></li>
                    <li routerLink="/auth/register"><span>S'inscrire</span><i
                            class="fa fa-solid fa-laptop float-right"></i></li>
                </ul>
            </div>
            <div class="my-dropdown" id="my-dropdown" *ngIf="existing == true" style="position: relative; top: 18px;">
                <button class="my-dropdown-button" (click)="displayDropdown()">
                    <span>{{userOnLine.prenom}} {{userOnLine.nom}}</span>
                    <i class="fa fa-thin fa-caret-down float-right" style="font-size: 20px;"></i>
                </button>
                <ul class="dropdown-list" id="dropdown-list" [style.visibility]="display" (click)="displayDropdown()">
                    <li (click)="openXl(content)"><span>Profil</span><i class="fa fa-solid fa-user float-right"></i>
                    </li>
                    <li (click)="redirectToEspace()"><span>Espace créatif</span><i
                            class="fa fa-solid fa-laptop float-right"></i></li>
                    <li (click)="deconnexon()"><span>Deconnexion</span><i
                            class="fa fa-solid fa-right-from-bracket float-right"></i></li>
                </ul>
            </div>
        </div>
        <div class="burger">
            <i class="fa fa-light fa-bars" style="font-size: 30px;" (click)="openEnd(responsive)"></i>
            <!-- <img src="assets/images/hamburger.png" alt="" (click)="openEnd(responsive)"> -->
        </div>
        <style>
            .my-dropdown {
                width: min-content;
            }

            .my-dropdown-button {
                padding: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                border-width: 0px;
                border-left: 4px solid #4CAF50;
                border-top-right-radius: 6px;
                color: #4CAF50;
                font-weight: 500;
                min-width: 140px;
                width: max-content;
            }

            .my-dropdown-button:hover {
                background-color: #4CAF50;
                color: white;
            }

            .dropdown-list {
                list-style-type: none;
                padding: 0;
                transition: 200ms linear 50ms;
            }

            .dropdown-list li {
                padding: 18px;
                background-color: #F0F0F0;
                border-left: 4px solid #4CAF50;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .dropdown-list li i {
                font-size: 13px;
                color: #000000;
            }

            .dropdown-list li:hover {
                background-color: #4CAF50;
                color: white;

                i {
                    color: white;
                }
            }
        </style>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header border border-bottom-0 ">
            <i class="fa-solid fa-xmark" (click)="modal.dismiss('Cross click')"
                style="position: absolute; left: calc(100% - 30px); font-size: 24px; cursor: pointer;"></i>
        </div>
        <div class="modal-body">
            <app-profil></app-profil>
        </div>
        <div class="modal-footer border border-top-0">
            <button type="button" class="btn btn-secondary border border-top-0" (click)="modal.close('Close click')"
                style="background-color: #4CAF50; border-width: 0px;">Enregistrer</button>
        </div>
    </ng-template>
    <ng-template #responsive let-offcanvas>
        <div class="offcanvas-body">
            <div class="d-flex justify-content-between">
                <div class="my-dropdown" id="my-dropdown" *ngIf="existing == false" style="margin-top: -24px;">
                    <button class="my-dropdown-button" id="my-dropdown-button" (click)="displayDropdown()">
                        <span>Compte</span>
                        <i class="fa fa-thin fa-caret-down float-right" style="font-size: 20px;"></i>
                    </button>
                    <ul class="dropdown-list" id="dropdown-list" [style.visibility]="display">
                        <li routerLink="/auth">Se connecter</li>
                        <li routerLink="/auth/register">S'inscrire</li>
                    </ul>
                </div>
                <div class="my-dropdown" id="my-dropdown" *ngIf="existing == true"
                    style="position: relative; top: 18px;">
                    <button class="my-dropdown-button" (click)="displayDropdown()">
                        <span>{{userOnLine.prenom}} {{userOnLine.nom}}</span>
                        <i class="fa fa-thin fa-caret-down float-right" style="font-size: 20px;"></i>
                    </button>
                    <ul class="dropdown-list" id="dropdown-list" [style.visibility]="display">
                        <li (click)="openXl(content)">Profil</li>
                        <li (click)="redirectToEspace()">Espace créatif</li>
                        <li (click)="deconnexon()">Deconnexion</li>
                    </ul>
                </div>
            </div>
            <!-- navbar-nav me-auto mb-2 mb-md-0 flex-column -->
            <div style="text-align: center;">
                <ul class="" style="list-style-type: none;  position: relative; top: 30px; padding: 0;">
                    <li class="nav-item text-black mb-4" *ngFor="let item of sidebar_data"
                        (click)="offcanvas.close('Close click')">
                        <a class="nav-link" [routerLink]="item.lien" routerLinkActive="active"
                            [style.color]="item.isActive" (click)="changeColor(item.id)">
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>
</nav>
<style>
    .active {
        color: #4CAF50;
    }
</style>