<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid header">
        <a class="navbar-brand text-black" routerLink=""><img src="assets/logo.svg" alt=""></a>
        <div class="middle middle-1">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item text-black" *ngFor="let item of sidebar_data">
                        <a class="nav-link" [routerLink]="item.lien" routerLinkActive="active"
                            [style.color]="item.isActive" (click)="changeColor(item.id)">
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-cta-1 header-cta">
            <button mat-raised-button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger"
                *ngIf="!userOnLine"><i class="fa-regular fa-user"></i></button>
            <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger" *ngIf="userOnLine"
                style="font-size: 16px;font-weight: bold;" (click)="derouler()">{{userOnLine.prenom}} {{userOnLine.nom}}
                &nbsp; <i id="deroule" class="fa-solid fa-caret-up" style="font-size: 20px; margin-top: 1px;"
                    style="transform: rotate(180deg);"></i></button>
            <ng-template #menu>
                <div class="example-menu" cdkMenu *ngIf="!userOnLine">
                    <button class="example-menu-item" cdkMenuItem routerLink="/auth">Se connecter</button>
                </div>
                <div class="example-menu" cdkMenu *ngIf="userOnLine">
                    <button class="example-menu-item" cdkMenuItem (click)="openXl(content)">Profil</button>
                    <button class="example-menu-item" cdkMenuItem (click)="redirectToEspace()"
                        *ngIf="userOnLine.role_id == 2">Espace créatif</button>
                    <button class="example-menu-item" cdkMenuItem (click)="deconnexon()">Déconnexion</button>
                </div>
            </ng-template>
        </div>
        <div class="burger">
            <img src="assets/images/hamburger.png" alt="" (click)="adapter()">
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <app-profil></app-profil>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
    <div class="responsive" id="responsive">
        <div class="middle middle-2">
            <div class="collapse navbar-collapse" id="navbarColapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 flex-column">
                    <li class="nav-item text-black" *ngFor="let item of sidebar_data">
                        <a class="nav-link" [routerLink]="item.lien" routerLinkActive="active"
                            [style.color]="item.isActive" (click)="changeColor(item.id)">
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-cta-2 header-cta">
            <button mat-raised-button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger"
                *ngIf="!userOnLine"><i class="fa-regular fa-user"></i></button>
            <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger" *ngIf="userOnLine"
                style="font-size: 16px;font-weight: bold;" (click)="derouler()">{{userOnLine.prenom}} {{userOnLine.nom}}
                &nbsp; <i id="deroule" class="fa-solid fa-caret-up" style="font-size: 20px; margin-top: 1px;"
                    style="transform: rotate(180deg);"></i></button>
            <ng-template #menu>
                <div class="example-menu" cdkMenu *ngIf="!userOnLine">
                    <button class="example-menu-item" cdkMenuItem>Se connecter</button>
                </div>
                <div class="example-menu" cdkMenu *ngIf="userOnLine">
                    <button class="example-menu-item" cdkMenuItem (click)="openXl(content)">Profil</button>
                    <button class="example-menu-item" cdkMenuItem (click)="redirectToEspace()"
                        *ngIf="userOnLine.role_id == 2">Espace créatif</button>
                    <button class="example-menu-item" cdkMenuItem (click)="deconnexon()">Déconnexion</button>
                </div>
            </ng-template>
        </div>
        <div class="close" (click)="adapter2()">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</nav>
<style>

</style>