<div class="dashboard">
    <div class="side-card row">
        <div class="col-4">
            <mat-card class="resume-card">
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card class="resume-card">
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card class="resume-card">
            </mat-card>
        </div>
    </div>
    <div class="row my-3">
        <div class="blog-chart col-9">
            <mat-card>
            </mat-card>
        </div>
        <div class="blog-chart col-3">
            <mat-card></mat-card>
        </div>
    </div>
</div>
<!-- effhkfhdkfdlfh -->
<style>
    .resume-card {
        height: 140px;
        background-color: aqua;
    }
    .blog-chart mat-card {
        height: 50px;
        background-color: blue;
    }
</style>