<div class="dashboard">
    <div class="side-card row">
        <div class="col-12 col-md-4">
            <mat-card class="resume-card resume-card-1 my-1">
                <div class="typo">
                    <div class="h4">{{clients.length + jardiniers.length}}</div>
                    <h5>Utilisateurs</h5>
                </div>
                <i class="fa-solid fa-users"></i>
            </mat-card>
        </div>
        <div class="col-12 col-md-4">
            <mat-card class="resume-card resume-card-2 my-1">
                <div class="typo">
                    <div class="h4">{{produits.length}}</div>
                    <h5>Produits</h5>
                </div>
                <i class="fa-brands fa-shopify"></i>
            </mat-card>
        </div>
        <div class="col-12 col-md-4">
            <mat-card class="resume-card resume-card-3 my-1">
                <div class="typo">
                    <div class="h4">{{articles.length}}</div>
                    <h5>Article</h5>
                </div>
                <i class="fa-solid fa-newspaper"></i>
            </mat-card>
        </div>
    </div>
    <div class="middle-dash row my-3">
        <div class="blog-chart col-md-12 col-12">
            <mat-card style="height: 100%;">
                <app-spline></app-spline>
            </mat-card>
        </div>
        <div class="blog-chart col-md-12 col-12">
            <mat-card class="row my-3" style="margin-right: 0; margin-left: 0;">
                <div class="d-flex align-items-center justify-content-between">
                    <span>Articles</span>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon style="transform:scale(0.7);">more_vert</mat-icon>
                    </button>
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <span>voir tout</span>
                    </button>
                </mat-menu>
                <div class="col-12">
                    <div class="col-12 mb-3" *ngFor="let article of articles">
                        <mat-card class="user-admin">
                            <div class="img">
                                <img src="http://127.0.0.1:8000/storage/{{article.image}}" alt="">
                            </div>
                            <span class="user-title">{{article.titre}}</span>
                        </mat-card>
                    </div>
                    <!-- <mat-card class="row d-flex justify-content-center align-items-center" style="height: 440px;">
                    </mat-card> -->
                </div>
            </mat-card>
        </div>
    </div>
</div>
<style>
    body {
        background-color: #F9F9F9;
    }

    /* .side-card  {
        animation: 2s slide;
    }
    @keyframes slide {
        from {
            transform: scale(0.9);
        }
        to {    
            transform: scale(1);
        }
    } */
    .resume-card {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        height: 240px;
        background-repeat: no-repeat;
        background-size: 102%;
        background-position: center;
        cursor: pointer;
    }

    .resume-card-1 {
        background-image: url("/assets/images/stat/1.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: 300ms resume-1;
    }

    .middle-dash {
        height: min-content;
    }

    .middle-dash .blog-chart {
        height: 100%;
    }

    @keyframes resume-1 {
        from {
            transform: scale(0.9);
        }

        to {
            transform: scale(1);
        }
    }

    .resume-card-2 {
        background-image: url("/assets/images/stat/2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: 300ms resume-2;
    }

    @keyframes resume-2 {
        from {
            margin-top: -60px;
        }

        to {
            margin-top: 0px;
        }
    }

    .resume-card-3 {
        background-image: url("/assets/images/stat/3.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: 300ms resume-3;
    }

    @keyframes resume-3 {
        from {
            margin-left: 60px;
        }

        to {
            margin-left: 0px;
        }
    }

    .resume-card i {
        opacity: .7;
        font-size: 50px;
    }

    .resume-card .typo button {
        background-color: #292D26;
        border-radius: 16px;
        font-size: 12px;
        color: white;
    }

    .resume-card .typo h5 {
        font-size: 16px;
        opacity: 0.9;
    }

    .user-admin {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        padding: 20px;
    }

    .user-admin .img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-admin .img img {
        height: 100%;
    }
</style>