<section class="row">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 style="color: #2a3547; font-size: 18px; ">Liste des articles</h5>
        <div class="d-flex gap-3">
            <input type="text" class="mb-0"
                style="border: 0; border-bottom: 2px solid #3535357f; background-color: #F9F9F9; outline: 0; text-transform: italic; color: #353535;"
                placeholder="Filtrer" name="searchTerm">
            <button mat-raised-button style="background-color: #4CAF50; color: white;" class="btn"
                (click)="open(first)">Ajouter</button>
        </div>
    </div>
    <div style="height: 40vh; display: flex; align-items: center; justify-content: center;"
        *ngIf="pagedItems.length == 0">
        <span class="text-center" style="">Pas d' astuces pour le moment</span>
    </div>
    <div class="all col-2 pb-4" *ngFor="let item of pagedItems">
        <mat-card class="example-card">
            <div
                style="width: 100%; height: 80px; overflow: hidden; border-top-right-radius: 4px; border-top-left-radius: 4px;">
                <img mat-card-image src="http://127.0.0.1:8000/api/{{item.image}}" alt="Photo of a Shiba Inu"
                    style="width: 100%; cursor: pointer;" (click)="openLg(detail)" (click)="detailArticle(item.id)">
            </div>
            <mat-card-content class="pt-2">
                <span class="text-titre" style="font-size: 13px;">{{item.titre}}</span>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between">
                <button mat-button style="background-color: #ffffff; color: rgb(0, 0, 0); font-size: 0.6em; padding: 0;"
                    class="fw-bold" (click)="openLg(detail)" (click)="detailArticle(item.id)">détails</button>
                <span class="d-flex gap-3" style="font-size: 0.8em; opacity: 0.8;">
                    <!-- <span>
                        <i class="fa-solid fa-comment"></i> {{commentaires?.length}}
                    </span> -->
                </span>
            </mat-card-actions>
        </mat-card>
    </div>
</section>

<!-- Ajout article -->
<ng-template #first let-modal>
    <div class="modal-header border border-bottom-0">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="form">
            <label for="file" class="custum-file-upload">
                <div class="text">
                    <span>Cliquez pour téléverser une image</span>
                </div>
                <input id="file" type="file" (change)="getFile($event)" accept="image/*" ngModel="image">
            </label>
            <!-- <input id="file" type="file" (change)="getFile($event)" accept="image/*" ngModel="image"> -->
            <textarea placeholder="Le titre" name="" id="" cols="30" rows="" [(ngModel)]="titre" name="titre"
                style="width: 100%; border-radius: 6px; padding: 10px; margin-top: 10px; outline: 0; border: 1px solid #757575;"></textarea>
            <div class="d-flex gap-2 justify-content-end">
                <button mat-raised-button color="link" class="mt-2">Annuler</button>
                <button mat-raised-button color="primary" class="mt-2"
                    (click)="openFullscreen(content)">Suivant</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #content let-modal style="">
    <div class="modal-body" style="padding: 0;">
        <i class="bouton-close fa-solid fa-xmark" (click)="modal.dismiss('Cross click')" (click)="viderChapms()"></i>
        <editor [init]="{
          base_url: '/tinymce',
          height: '80vh',
          toolbar: 'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help',
          plugins: 'lists checklist',
        }" [(ngModel)]="contenu" style="border-radius: 0 !important; height: 100%;"></editor>
    </div>
    <div class="modal-footer">
        <button mat-raised-button (click)="modal.close('Close click')" style="background-color: #4CAF50; color: white;"
            (click)="modifierArticle()">Modifier</button>
        <button mat-raised-button (click)="ajouterArticle()" (click)="modal.close('Close click')"
            style="background-color: #4CAF50; color: white;" (click)="modal.close('Save click')">Publié</button>
    </div>
</ng-template>
<!-- Details articles -->
<ng-template #detail let-detail>
    <div class="modal-header" style="border-bottom: 0;">
        <i class="fa-solid fa-circle-xmark me-1" aria-label="Close" (click)="detail.dismiss('Cross click')"
            style="cursor: pointer; font-size: 24px; right: 0; position: absolute"></i>
    </div>
    <div class="px-3">
        <h4 class="mb-5" style="color: #292D26;"> {{details.titre}} </h4>
        <span class="d-flex gap-3 align-items-center justify-content-between" style="font-size: 0.9em; opacity: 0.8;">
            <span style="cursor: pointer;">
                <i class="fa-solid fa-comment"></i> {{commentaires?.length}}
            </span>
            <div style="font-size: 13px;" class="d-flex gap-2 align fw-semibold">
                <span>Publié le {{details.created_at | date:'dd MMMM yyyy'}}</span>
            </div>
            <span class="cta-details d-flex gap-3">
                <button mat-flat-button color="warn" (click)="openFullscreen(content)">Modifier</button>
                <button mat-flat-button color="accent" (click)="supprimerArticle(details.id)"
                    (click)="detail.close('Close click')">Supprimer</button>
            </span>
        </span>
        <hr>
    </div>
    <div class="modal-body">
        <div class="comment" *ngFor="let item of commentaires">
            <div class="comment-top">
                <div class="img" style="width: 40px; height: 40px;"><img
                        src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" alt="dfljdfkjl"
                        *ngIf="">sfdfhdfdjfg</div>
            </div>
            <div class="comment-body">
                <p>{{item.contenue}}</p>
                <i class="fa-solid fa-trash" (click)="supprimerCommentaire(item.id)"></i>
                <hr>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="detail.close('Close click')">Fermer</button>
    </div>
</ng-template>
<!-- pagination -->
<div class="d-flex justify-content-center" *ngIf="pagedItems.length">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Précédent</mat-button-toggle>
        <mat-button-toggle value="italic">1</mat-button-toggle>
        <mat-button-toggle value="underline">Suivant</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">Premier</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Précedent</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Suivant</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Dernier</a>
        </li>
    </ul> -->
</div>
<!-- </section> -->
<style>
    .cta-details button {
        font-size: 13px;
        height: min-content;
        padding: 4px 8px;
    }

    .comment-body p {
        font-size: 13px;
        opacity: 0.9;
    }

    .comment-body i {
        position: absolute;
        right: 30px;
        color: tomato;
        cursor: pointer;
        margin-top: -20px;
    }

    .text-titre {
        display: inline-block;
        width: 96%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pagination {
        border: 2px solid transparent;
        background-color: #4caf4f16;
        width: min-content;
        padding: 0 12px 4px 12px;
        border-radius: 20px;
    }

    .pagination ul {
        border: 2px solid black;
    }

    .pagination a {
        font-size: 14px;
    }

    .example-form {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        padding: 0 30%;
    }

    .example-full-width {
        width: 100%;
    }

    .first {
        /* border: 2px solid black; */
    }

    .header {
        background-color: #4CAF50;
        ;
    }

    .bouton-close {
        font-size: 20px;
        cursor: pointer;
        padding: 2px;
        position: absolute;
        z-index: 999;
        left: calc(100% - 130px);
        margin-top: 3px;
        padding-bottom: 6px;
        padding-left: 100px;
        padding-right: 10px;
        padding-top: 10px;
        background-color: white;
    }

    .example-card {
        box-shadow: 0 0 6px 1px #292d2654;
    }

    .all {
        animation: 600ms display;
    }

    @keyframes display {
        from {
            transform: scale(0.7);
        }

        to {
            transform: scale(1);
        }
    }

    .example-card:hover {
        animation: 200ms transform;
        animation-fill-mode: forwards;
    }

    @keyframes transform {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        padding: 0;
        font-size: 24px;
    }

    ul li {
        cursor: pointer;
    }

    mat-card-content h6 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 95%;
    }

    .input-title {
        width: 100%;
        font-size: 24px;
        border: 0;
        outline: 0;
    }
</style>

<style>
    .custum-file-upload {
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #757575;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0px 48px 35px -48px #e8e8e8;
    }

    .custum-file-upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custum-file-upload .icon svg {
        height: 80px;
        fill: #e8e8e8;
    }

    .custum-file-upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custum-file-upload .text span {
        font-weight: 400;
        color: #757575;
    }

    .custum-file-upload input {
        display: none;
    }
</style>