.jardinier {
    // background-image: url('/assets/images/banner/banner-3.png');
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    padding: 20px 10%;
}

.titre-input {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.titre-truc {
    // border: 2px solid black;
}


@media screen and (max-width: 575.98px) {
    .jardinier {
        padding: 20px 3%;
    }

    .titre-input {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;

        .titre-truc {}

        .input {
            width: 100%;
        }
    }
}

// Jardinier
.jardiniers-box img {
    padding: 0;
}

.jar-items .img {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}

.jar-items a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 26px;
}

// fin jardinier

// Modal
.jard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

// modal end

.jard a {
    color: white;
    background-color: #292D26;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}