<app-share-banner></app-share-banner>
<!-- <app-recherche-section></app-recherche-section> -->
<!-- <button mat-raised-btn style="background-color: aqua;">Ajouter</button> -->
<section class="jardinier">
    <div class="titre-input mb-2">
        <app-titre sus_titre="Le savoir faire des expérimentés" titre="Conseils Jardiniers" class="titre-truc"
            color_one="#4CAF50" color_two="#292D26" id="article"></app-titre>
        <input type="text" class="mb-3 input"
            style=" border: 0; border-bottom: 2px solid #292d2651; outline: 0; text-transform: italic;"
            placeholder="Filtrer" name="searchTerm" [(ngModel)]="searchTerm" (input)="filterItems()">
    </div>
    <div class="jardiniers-box row">
        <div *ngFor="let item of jardiniers" class="col-sm-6 col-6 col-md-6 col-lg-4"
            style="position: relative; top: 20px;">
            <mat-card class="example-card" style="margin-bottom: 22px; cursor: pointer;"
                (click)="openXl(content, item.id)" (click)="consulterProfil(item.id)">
                <img mat-card-image src="http://127.0.0.1:8000/api/{{item.image}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h6 class="nom-user mt-3"> {{item.prenom}} {{item.nom}}</h6>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- <div class="mat-elevation-z8">
            <mat-paginator [pageSizeOptions]="[12, 20, 40]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div> -->
    </div>
</section>

<!-- Details -->
<ng-template #content let-modal>
    <div class="modal-header border border-bottom-0">
        <div class="d-flex gap-2 align-items-center">
            <span class="user-sms"
                style="height: 40px; width: 40px; display: flex; justify-content: center; overflow: hidden; border-radius: 50%; align-items: center;">
                <img src="http://127.0.0.1:8000/api/{{jar?.image}}" alt="" style="width: 100%;">
            </span>
            <span style="font-weight: 600; font-size: 18px;"> {{jar.prenom}} {{jar.nom}} </span>
        </div>
        <i class="fa-solid fa-xmark" (click)="modal.close('Close click')"
            style="position: absolute; left: calc(100% - 40px); font-size: 24px; cursor: pointer;"></i>
    </div>
    <div class="modal-body">
        <app-details-jardinier></app-details-jardinier>
    </div>
    <div class="jard">
        <a mat-raised-button><i class="fa-brands fa-whatsapp"></i></a>
        <a mat-raised-button><i class="fa-solid fa-location-dot"></i></a>
        <a mat-raised-button><i class="fa-solid fa-phone-flip"></i></a>
        <a mat-raised-button (click)="openVerticallyCentered(message)" (click)="listerMesages(userOnline.id)"><i
                class="fa-solid fa-comment"></i></a>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<!-- Message -->
<ng-template #message let-modal style="height: 90vh;">
    <div class="modal-header border border-bottom-0">
        <div class="d-flex gap-2 align-items-center">
            <span class="user-sms"
                style="height: 40px; width: 40px; display: flex; justify-content: center; overflow: hidden; border-radius: 50%; align-items: center;">
                <img src="http://127.0.0.1:8000/api/{{jar?.image}}" alt="" style="width: 100%;">
            </span>
            <span style="font-weight: 500;"> {{jar.prenom}} {{jar.nom}} </span>
        </div>
        <i class="fa-solid fa-xmark" (click)="modal.close('Close click')"
            style="position: absolute; left: calc(100% - 40px); font-size: 24px; cursor: pointer;"></i>
    </div>
    <div class="corps-message modal-body" style="height: 80vh; background-color: #292d261d;">
        <div class="glob-sms" *ngFor="let m of mes">
            <div class="hisSms" *ngIf="m.receveur_id == userOnline.id">
                <p> {{m.contenue}} </p>
            </div>
            <div class="mySms" *ngIf="m.receveur_id == jar_id">
                <p> {{m.contenue}} </p>
            </div>
        </div>
    </div>
    <div class="modal-footer border border-top-0">
        <form action="" class="w-100">
            <div class="barre-sms">
                <input name="message" class="message" placeholder="Tapez votre message" id="" [(ngModel)]="sms"
                    style="width: 100%;" [(ngModel)]="sms">
                <button style="border: none; font-size: 13px; color: #4CAF50;" (click)="sendMessage()">Envoyer</button>
                <!-- <i class="fa-solid fa-paper-plane" style="cursor: pointer; color: #4CAF50;"></i> -->
            </div>
        </form>
    </div>
</ng-template>
<!-- Fin message -->
<app-footer></app-footer>
<style>
    .user-sms {
        font-weight: 500;
    }

    .barre-sms {
        border-bottom: 1px solid rgba(0, 0, 0, 0.275);
        background-color: white;
        display: flex;
        padding: 10px 0;
        gap: 4px;
    }

    .corps-message::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        background-color: #4CAF50;
        /* padding: 0 2px; */
        /* border-radius: 10px; */
    }

    .corps-message::-webkit-scrollbar {
        width: 0px;
        border-radius: 0px;
    }

    .message {
        outline: 0;
        border: 0;
        font-size: 13px;
        padding: 2px;
    }

    .glob-sms {
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
    }

    .hisSms {
        text-align: left;
        border-radius: 6px;
        width: max-content;
        max-width: 90%;
        padding: 8px;
        margin: 8px 0;
        background-color: #ffffff;
        font-size: 13px;
    }

    .mySms {
        border-radius: 6px;
        width: max-content;
        max-width: 90%;
        padding: 8px;
        margin: 8px 0;
        background-color: #abfeae;
        font-size: 13px;
        align-self: flex-end;
    }
</style>