.titre {
    font-family: 'poppins';
}

.sus-titre {
    font-family: 'Great Vibes', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.titre {
    font-size: 42px;
    font-weight: bold;
}

@media screen and (max-width: 575.98px) {
    .sus-titre {
        font-size: 22px;
    }

    .titre {
        font-size: 32px;
    }
}