<div class="corps">
    <!-- Ajout produit -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header border border-bottom-0 pt-2">
            <span class="modal-title fw-bold" id="modal-basic-title">Ajout de produit!</span>
            <i class="fa-solid fa-xmark" (click)="d('Cross click')" (click)="vider()"
                style="position: absolute; left: calc(100% - 40px); font-size: 24px; cursor: pointer;"></i>
        </div>
        <div class="modal-body py-0">
            <form class="example-form d-flex flex-column" style="width: 100%;">
                <div class="mb-4">
                    <label for="file" class="custum-file-upload" *ngIf="!image">
                        <div class="icon">
                            <svg viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                </g>
                                <g id="SVGRepo_iconCarrier">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                                        fill=""></path>
                                </g>
                            </svg>
                        </div>
                        <div class="text">
                            <span *ngIf="!image">Cliquez pour téléverser une image</span>
                            <span *ngIf="image">{{image}}</span>
                        </div>
                        <input id="file" type="file" (change)="getFile($event)" accept="image/*">
                    </label>
                    <div class="d-flex justify-content-center" *ngIf="image">
                        <label for="file" class="custum-file-upload"
                            style="background-color: transparent; width: 200px;">
                            <img [src]="imageUrl" style="height: 200px;" *ngIf="imageUrl" />
                            <input id="file" type="file" (change)="getFile($event)" accept="image/*">
                        </label>
                    </div>
                </div>
                <!--  -->
                <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input type="text" matInput placeholder="Nom du produit" [(ngModel)]="nom" (input)="validerNom()">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description du produit" [(ngModel)]="description"
                        name="description"></textarea>
                </mat-form-field>
            </form>
        </div>
        <div class="modal-footer border border-top-0">
            <button [disabled]="activerButton" type="button" class="btn btn-outline-dark" (click)="c('Save click')"
                (click)="ajouterProduits()" *ngIf="ajouter">Valider</button>
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"
                (click)="modifierProduit(detail.id)" (click)="d('Cross click')" *ngIf="modifier">Modifier</button>
        </div>
    </ng-template>
    <!-- Ajout vidéo -->
    <ng-template #video let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Ajout de vidéo!</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"
                (click)="vider()"></button>
        </div>
        <div class="modal-body">
            <form class="example-form d-flex flex-column" style="width: 100%;">
                <div class="mb-4">
                    <label for="file" class="file-upload-label" style="width: 100%;">
                        <div class="file-upload-design">
                            <!-- <svg viewBox="0 0 640 512" height="1em">
                                <path
                                    d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z">
                                </path>
                            </svg>
                            <p>Glissez et déposez votre vidéo</p>
                            <p>ou</p> -->
                            <span class="browse-button">Téléverser une vidéo</span>
                        </div>
                        <input id="file" type="file" (change)="getFile2($event)" accept="video/*" name="video" />
                    </label>
                </div>
                <!--  -->
                <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input type="text" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        placeholder="300" [(ngModel)]="nom">
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Le nom est <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Ma description ..." [(ngModel)]="description"
                        name="description"></textarea>
                </mat-form-field>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" (click)="ajouterVideo()"
                *ngIf="option == 1">Valider</button>
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"
                (click)="modifierProduit(detail.id)" (click)="d('Cross click')" *ngIf="option == 2">Modifier</button>
        </div>
    </ng-template>
    <!--  -->
    <section class=" boutique">
        <div class="jardiniers-box row">
            <button class="mat-elevation-z4 side gap-3">
                <div>
                    <button mat-mini-fab style="background-color: #4CAF50;"><i class="fa-solid fa-house"
                            style="transform: scale(1.3);"></i></button>
                    <span style="font-size: 12px;">Bureau</span>
                </div>
                <div>
                    <button mat-mini-fab style="background-color: #292D26;" (click)="open(content)"><i
                            class="fa-solid fa-basket-shopping" (click)="listerCategories()"></i></button>
                    <span style="font-size: 12px;">+Produit</span>
                </div>
                <div>
                    <button mat-mini-fab style="background-color: #292D26;" (click)="open(video)"><i
                            class="fa-solid fa-video" style="transform: scale(1);"></i></button>
                    <span style="font-size: 12px;">+Vidéos</span>
                </div>
            </button>
            <div class="col-12" style="">
                <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-3 shadow-sm" id="pillNav2"
                    role="tablist" style="">
                    <li class="nav-item" role="presentation" (click)="switchProduit()">
                        <button class="liens nav-link active" id="home-tab2" data-bs-toggle="tab" type="button"
                            role="tab" aria-selected="true">Produits</button>
                    </li>
                    <li class="nav-item" role="presentation" (click)="switchProduit()">
                        <button class="liens nav-link" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                            aria-selected="false">Vidéos</button>
                    </li>
                </ul>
                <div class="row" style="position: relative; top: 60px;" *ngIf="!changer">
                    <div style="height: 40vh; display: flex; align-items: center; justify-content: center;"
                        *ngIf="prod.length == 0">
                        <img src="assets/images/nocontent.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-6" *ngFor="let item of paginatedProduits">
                        <div class="blog-produits card" style="margin-bottom: 16px; overflow: hidden;" id="card"
                            (click)="openLg(con)" (click)="detailsProduit(item.id)">
                            <div class="row g-0" style="">
                                <div class="col-md-4">
                                    <img src="http://127.0.0.1:8000/storage/{{item.image}}"
                                        class="img-fluid rounded-start" [alt]="item.image">
                                </div>
                                <div class="col-md-7 d-flex align-items-center">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title"
                                            style="font-size: 16px; color: #292d26bb; font-weight: 600;">
                                            {{item.nom}}</h5>
                                        <span class="notes">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #con let-modal class="">
                            <div class="card">
                                <span
                                    style="position: absolute; left: calc(100% - 30px); top: 10px; font-size: 24px; cursor: pointer;background-color: white; height: 20px; width: 20px; display: flex; align-items: center; justify-content: center;"
                                    (click)="modal.dismiss('Cross click')">
                                    <i class="fa-solid fa-xmark"></i>
                                </span>
                                <div class="row g-0">
                                    <div class="left-detail col-md-6"
                                        style="display: flex; justify-content: center; align-items: center; ">
                                        <div
                                            style="width: 300px; transform: rotate(-30deg); overflow: hidden !important;">
                                            <img src="http://127.0.0.1:8000/storage/{{detail.image}}" alt=""
                                                style="width: 100%;">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h2 class="card-title fw-bold mb-4" style="color: #292D26;">{{detail.nom}}
                                            </h2>
                                            <h5 class="fw-bold" style="color: #4CAF50;">Description</h5>
                                            <p class="card-text">{{detail.description}}</p>
                                            <h5 class="fw-bold" style="color: #4CAF50;">Catégorie</h5>
                                            <p>{{detail.categorie.nom}}</p>
                                            <h5 class="fw-bold" style="color: #4CAF50;">Actions</h5>
                                            <div class="d-flex gap-3">
                                                <button mat-mini-fab color="accent"
                                                    (click)="SupprimerProduit(detail.id)"
                                                    (click)="modal.dismiss('Cross click')"><i
                                                        class="fa-solid fa-trash"></i></button>
                                                <button mat-mini-fab color="warn" (click)="openEditProduit(detail.id)"
                                                    (click)="modal.dismiss('Cross click')" (click)="open2(content)"><i
                                                        class="fa-solid fa-pen"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <!-- Pagination -->
                    <div style="margin-top: 40px; display: flex; justify-content: center;" *ngIf="produits.length != 0">
                        <app-pagination [totalItems]="produits.length" [itemsPerPage]="itemsPerPage"
                            (pageChange)="onPageChange($event)" *ngIf="produits.length > itemsPerPage">
                        </app-pagination>
                    </div>
                </div>
                <div class="row" style="position: relative; top: 60px;" *ngIf="changer">
                    <div style="height: 40vh; display: flex; align-items: center; justify-content: center;"
                        *ngIf="videos.length == 0">
                        <img src="assets/images/nocontent.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-4" *ngFor="let item of videos">
                        <div class="" style="border: 12px;">
                            <video controls style="width: 100%;">
                                <source src="http://127.0.0.1:8000{{item.video}}">
                            </video>
                            <div class="px-2"
                                style="display: flex; justify-content: space-between; align-items: center;">
                                <span style="font-size: 14px;">{{item.titre}}</span>
                                <div class="d-flex align-items-center">
                                    <span class="fw-bold">{{item.created_at | date
                                        : 'dd/MM/yyyy'
                                        }}</span>
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item>
                                            <span (click)="SupprimerVideo(item.id)">Supprimer</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button mat-mini-fab class="dash"><i class="fa-solid fa-message" mat-button
                [matMenuTriggerFor]="menu"></i></button>
        <mat-menu #menu="matMenu">
            <button class="mat-elevation-z4 side gap-3">
                <div>
                    <button mat-mini-fab style="background-color: #4CAF50;"><i class="fa-solid fa-house"
                            style="transform: scale(1.3);"></i></button>
                    <span style="font-size: 12px;">Bureau</span>
                </div>
                <div>
                    <button mat-mini-fab style="background-color: #292D26;" (click)="open(content)"><i
                            class="fa-solid fa-basket-shopping" (click)="listerCategories()"></i></button>
                    <span style="font-size: 12px;">+Produit</span>
                </div>
                <div>
                    <button mat-mini-fab style="background-color: #292D26;" (click)="open(video)"><i
                            class="fa-solid fa-video" style="transform: scale(1);"></i></button>
                    <span style="font-size: 12px;">+Vidéos</span>
                </div>
            </button>
        </mat-menu>
    </section>
</div>
<style>
    .addCategorie {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
    }

    .addCategorie li {
        display: flex;
        gap: 10px;
    }

    .left-detail {
        background-image: url("/assets/images/boutique/detail-bg.svg");
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 70vh;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #4CAF50;
    }

    textarea {
        resize: none;
    }
</style>
<!-- dash -->
<style>
    .dash {
        position: fixed;
        top: 93vh;
        z-index: 888;
        left: calc(100vw - 100px);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #292D26;

        i {
            /* font-size: 50px; */
            color: #ffffff;
            position: relative;
            top: 1px;
        }
    }

    /* upload */
    .custum-file-upload {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #e8e8e8;
        background-color: #292D26;
        padding: 1.5rem;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 48px 35px -48px #e8e8e8;
    }

    .custum-file-upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custum-file-upload .icon svg {
        height: 80px;
        fill: #e8e8e8;
    }

    .custum-file-upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custum-file-upload .text span {
        font-weight: 400;
        color: #e8e8e8;
    }

    .custum-file-upload input {
        display: none;
    }
</style>