<app-header></app-header>
<div class="main container-fluid p-0">
    <router-outlet></router-outlet>
    <button mat-mini-fab class="chat" (click)="scroller()"><i class="fa-solid fa-arrow-up-from-bracket"></i></button>
</div>

<style>
    .main {
        min-width: 40vh;
        overflow: hidden;
    }

    .chat {
        position: fixed;
        top: 93vh;
        z-index: 888;
        left: calc(100vw - 60px);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        i {
            /* font-size: 50px; */
            color: #4CAF50;
            position: relative;
            font-size: 20px;
            top: 1px;
        }
    }
</style>