<div class="corps-message modal-body" style="height: 80vh; background-color: #292d261d;">
    <div class="glob-sms" *ngFor="let m of mes">
        <div class="hisSms" *ngIf="m.receveur_id == userOnline.id">
            <p> {{m.contenue}} </p>
        </div>
        <div class="mySms" *ngIf="m.receveur_id == jar_id">
            <p> {{m.contenue}} </p>
        </div>
    </div>
</div>
<div class="modal-footer border border-top-0">
    <form action="" class="w-100">
        <div class="barre-sms">
            <input name="message" class="message" placeholder="Tapez votre message" id="" [(ngModel)]="sms"
                style="width: 100%;" [(ngModel)]="sms">
            <button style="border: none; font-size: 13px; color: #4CAF50;" (click)="sendMessage()">Envoyer</button>
            <!-- <i class="fa-solid fa-paper-plane" style="cursor: pointer; color: #4CAF50;"></i> -->
        </div>
    </form>
</div>

<style>
    .user-sms {
        font-weight: 500;
    }

    .barre-sms {
        border-bottom: 1px solid rgba(0, 0, 0, 0.275);
        background-color: white;
        display: flex;
        padding: 10px 0;
        gap: 4px;
    }

    .corps-message::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        background-color: #4CAF50;
        /* padding: 0 2px; */
        /* border-radius: 10px; */
    }

    .corps-message::-webkit-scrollbar {
        width: 0px;
        border-radius: 0px;
    }

    .message {
        outline: 0;
        border: 0;
        font-size: 13px;
        padding: 2px;
    }

    .glob-sms {
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
    }

    .hisSms {
        text-align: left;
        border-radius: 6px;
        width: max-content;
        max-width: 90%;
        padding: 8px;
        margin: 8px 0;
        background-color: #ffffff;
        font-size: 13px;
    }

    .mySms {
        border-radius: 6px;
        width: max-content;
        max-width: 90%;
        padding: 8px;
        margin: 8px 0;
        background-color: #abfeae;
        font-size: 13px;
        align-self: flex-end;
    }
</style>