/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'poppins';
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    body::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        // background-color: #4CAF50;
        padding: 0 2px;
        border-radius: 10px;
    }

    body::-webkit-scrollbar {
        // border-radius: 10px;
        // background-color: #292D26;
    }

    body {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


// Auth

main {
    // padding: 50px;
    background-color: #292D26;
}

.brand-wrapper {
    padding-top: 7px;
    padding-bottom: 8px;

    .logo {
        height: 25px;
    }
}


// login

.login {


    &-section-wrapper {
        display: flex;
        flex-direction: column;
        padding: 68px 100px;
        background-color: #fff;

        @media (max-width: 991px) {
            padding-right: 50px;
            padding: 20px 3%;
        }

        @media (max-width: 575px) {
            padding-bottom: 20px;
            min-height: 100vh;
            padding: 20px 3%;
        }
    }

    &-wrapper {
        width: 300px;
        max-width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;

        @media (max-width: 575px) {
            width: 100%;
        }

        label {
            font-size: 14px;
            font-weight: bold;
            color: #b0adad;
        }

        .form-control {
            border: none;
            border-bottom: 2px solid #e7e7e7;
            border-radius: 0;
            padding: 9px 5px;
            min-height: 40px;
            font-size: 18px;
            font-weight: normal;
            outline: 0;

            &::placeholder {
                color: #b0adad;
            }

            &::after,
            &:focus {
                box-shadow: none !important;
            }
        }

        .login-btn {
            padding: 13px 20px;
            background-color: #4CAF50;
            border-radius: 0;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 14px;

            &:hover {
                border: 1px solid #4CAF50;
                background-color: #fff;
                color: #4CAF50;
            }
        }

        a.forgot-password-link {
            color: #080808;
            font-size: 14px;
            text-decoration: underline;
            display: inline-block;
            margin-bottom: 54px;

            @media (max-width: 575px) {
                margin-bottom: 16px;
            }
        }

        &-footer-text {
            font-size: 16px;
            color: #000;
            margin-bottom: 0;
        }
    }

    &-title {
        font-size: 30px;
        color: #000;
        font-weight: bold;
        margin-bottom: 25px;
    }

    &-img {
        width: 100%;
        height: calc(100vh);
        object-fit: cover;
        object-position: left;
    }
}

.btn-close:active,
.btn-close:visited,
.btn-close::after {
    box-shadow: none;
}


// .text-titre,
.nom-user,
.text-user-name,
// .astuce-day-name,
.user-title {
    display: inline-block;
    width: 99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-title {
    width: calc(100% - 50px);
}

// Titre de page 

.titre-truc {
    // border: 2px solid black;
}

@media screen and (max-width: 575.98px) {

    .jardinier,
    .astuces,
    .boutique {
        padding: 20px 3%;
    }

    .titre-input {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;

        .titre-truc {}

        .input {
            width: 100%;
        }
    }
}