<!-- <app-share-banner></app-share-banner> -->
<section class="astuces">
    <h2 style="color: #4CAF50; font-size: 48px;" class="fw-semibold mb-3">{{details.titre}}</h2>
    <!-- <h4 class="fw-light">{{astuce?.titre}}</h4> -->
    <div class="user d-flex gap-4">
        <div class="img">
            <img [src]="astuce?.user_image" alt="">
        </div>
        <div class="typo">
            <span class="fs-5">{{astuce?.user_name}}</span>
            <div style="font-size: 13px;" class="d-flex gap-2 align-items-center fw-semibold">
                <span>Lecture en 5 min</span>
                <i class="fa-solid fa-circle" style="font-size: 8px;"></i>
                <span>Publié le {{details.created_at | date:'dd MMMM yyyy'}}</span>
            </div>
        </div>
    </div>
    <span class="d-flex gap-3" style="font-size: 0.9em; opacity: 0.8;">
        <span>
            <i class="fa-solid fa-thumbs-up"></i> {{astuce?.like}}
        </span>
        <span (click)="openEnd(content)" (click)="listerCommentaire(details.id)" style="cursor: pointer;">
            <i class="fa-solid fa-comment"></i> {{nbComents}}
        </span>
    </span>
    <hr style="border-width: 2px;">
    <div class="image-article">
        <img src="http://127.0.0.1:8000/api/{{details.image}}" alt="" class="img-fluid">
    </div>
    <div class="contenu" id="contenu">
    </div>
</section>
<!-- modele open -->
<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Commentaires ({{nbComents}})</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <mat-card class="p-1">
            <h6 class="my-2 d-flex align-items-center gap-2"
                style="padding-left: 10px; font-size: 13px; font-weight: 400;">
                <div class="comment-img">
                    <img [src]="userOnLine?.image ? 'http://127.0.0.1:8000/api/' + userOnLine.image : 'https://cdn-icons-png.flaticon.com/512/9131/9131529.png'"
                        alt="">
                </div>
                <span class="fw-bold">
                    {{userOnLine.prenom}}
                    {{userOnLine.nom}}
                </span>
            </h6>
            <form class="example-form w-100">
                <textarea placeholder="Laissez un commentaire" name="" id="" cols="" rows="" name="contenue"
                    [(ngModel)]="contenue" class="commentaire"></textarea>
                <div class="bouton d-flex justify-content-end gap-2">
                    <button mat-button style="color: rgb(0, 0, 0);" (click)="viderChamps()">Annuler</button>
                    <button mat-raised-button style="background-color: #4CAF50; color: white;"
                        (click)="ajouterCommentaire()" class="p-0">Poster</button>
                </div>
            </form>
        </mat-card>
        <div class="com-user my-2 p-3" *ngFor="let item of commentaires">
            <p style="font-weight: 700;" *ngFor="let user of mergedUsers">
                <span *ngIf="item.user_id == user.id" class="d-flex gap-2 align-items-center">
                    <div class="comment-img">
                        <img src="http://127.0.0.1:8000/api/{{user?.image}}" alt="">
                        <img *ngIf="!user.image" src="https://cdn-icons-png.flaticon.com/512/9131/9131529.png" alt="">
                    </div>
                    <span>{{user.prenom}} {{user.nom}}</span>
                </span>
            </p>
            <p>{{item.contenue}}</p>
            <button mat-mini-fab color="warn"
                style="transform: scale(0.5); position: relative; left: calc(100% - 40px); margin: -20px 0;"
                *ngIf="userOnLine.id == item.user_id" (click)="supprimerCommentaire(item.id)"><i
                    class="fa-solid fa-trash"></i></button>
        </div>
    </div>
</ng-template>
<app-footer></app-footer>
<style>
    .astuces {
        padding: 60px 20%;
    }

    .user {
        margin: 30px 0;
    }

    .img {
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
    }

    .image-article {
        /* height: 500px; */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .image-article img {
        width: 100%;
        height: auto;
    }

    .contenu {
        margin: 40px 0;
    }

    .astuce-title {
        font-weight: 700;
        margin-top: 40px;
    }

    .astuce-title+p {
        padding-left: 10px;
    }

    .comment-img {
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
    }

    .comment-img img {
        width: 100%;
    }

    /* .offcanvas-header button::after,
    .offcanvas-header button:focus,
    .offcanvas-header button:visited {
        border: 0;
    } */
    .example-full-width {
        height: 200px;
    }

    .commentaire {
        width: 100%;
        height: 120px;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        padding: 10px;
        font-size: 13px;
        font-weight: 400;
    }

    .com-user,
    .button:only-child {
        font-size: 13px;
        font-weight: 400;
    }

    .com-user {
        border-bottom: 1px solid rgba(0, 0, 0, 0.222);
    }
</style>