<section class="banner">
    <h3 class="titre" style="">
        {{position | uppercase}}
    </h3>
    <span class="chemin">
        <span style="cursor: pointer;" [routerLink]="['/../..']" routerLinkActive="router-link-active">Accueil</span> <i
            class="fa-sharp fa-solid fa-play" style="font-size: 12px; margin: 0 12px;"></i> <span
            style="color: #4CAF50;">{{position | titlecase}}</span>
    </span>


    <button mat-mini-fab style="background-color: #ffffff; position: absolute; top: 200px; box-shadow: none;"
        (click)="scroller()"><i class="fa-solid fa-arrow-down mt-1"
            style="color: #4CAF50; font-size: 24px;"></i></button>
</section>
<style>
    .titre {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 42px;
    }

    .banner {
        color: white;
        background-image: url('assets/images/banner/banner-2.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 260px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 575.98px) {
        .titre {
            font-size: 32px;
        }

        .banner {
            height: 180px;
        }
    }

    /* .router-link-active {
        color: gold;
    } */
</style>